<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flight</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

        <script src="js/Flight.js"></script>

    </head>

    <body>
        <br>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#list">List View</a></li>
                <li><a href="#Max">Matrix View</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active">

                    <br>
                    <div ng-app="flightModule" ng-controller="searchCtrl">

                        <p> {{listAirports.length + ' of ' + listAirports.length + ' shown - ' + listAirports[0].type}}</p><br>

                        <div class='panel panel-default'>
                            <div class='panel-heading'>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <p style="color:blue">Price</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="color:blue">Airline</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="color:blue">Take-off</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p style="color:blue">Landing</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="color:blue">Stops&nbsp;(Duration)</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-repeat="f in listAirports" class='panel panel-default'>
                            <div class='panel-body'>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <p> {{f.outbound.price + '&#8356;'}} </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p> {{f.outbound.airline}} </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p> {{ split(f.outbound.takeOffFrom, 0) + ' ' + f.outbound.takeOffTime.hourOfDay + ':' + f.outbound.takeOffTime.minute}}
                                        </p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p> {{ split(f.outbound.landingTo, 0) + ' ' + f.outbound.landingTime.hourOfDay + ':' + f.outbound.landingTime.minute}}
                                        </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p> {{(f.outbound.transists.length - 1) + ' ' + compareTime(f.outbound.landingTime.hourOfDay, f.outbound.landingTime.minute, f.outbound.takeOffTime.hourOfDay, f.outbound.takeOffTime.minute)}}
                                        </p>
                                    </div>

                                    <br>

                                    <p align="right"><a data-toggle="collapse" href="#{{$index}}">details</a>&nbsp;&nbsp;
                                        <span class="glyphicon">&#xe045;</span>&nbsp;
                                        <span class="glyphicon">&#x2709;</span>&nbsp;
                                        <span class="glyphicon">&#xe005;</span>&nbsp;
                                        <span class="glyphicon">&#xe020;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                                    <div id="{{$index}}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class ="row">
                                                <div class="col-sm-6">
                                                    <p style="color:blue">OUTBOUND</p>

                                                    {{showDate(f.outbound.takeOffTime.dayOfMonth, f.outbound.takeOffTime.month, f.outbound.takeOffTime.year)}}

                                                    <br> {{f.outbound.takeOffTime.hourOfDay+':'+f.outbound.takeOffTime.minute + ' ' +
                                        split(f.outbound.transists[0].fromAirport,0) + ' ' + split(f.outbound.transists[0].fromAirport,1)}}
                                                    <br> {{split(f.outbound.transists[0].toAirport, 0) + ' ' + split(f.outbound.transists[0].toAirport, 1)}}
                                                    <br> {{'Flight #: ' + f.outbound.transists[0].flightNO + ' | aircraft type: ' + f.outbound.transists[0].aircraftType
                                        + ' | operated by: '+ f.outbound.transists[0].airline }}

                                                    <br>

                                                    <br> {{ split(f.outbound.transists[1].fromAirport, 0) + ' ' + split(f.outbound.transists[1].fromAirport, 1)}}
                                                    <br> {{f.outbound.landingTime.hourOfDay+':'+f.outbound.landingTime.minute + ' ' +
                                        split(f.outbound.transists[1].toAirport,0) + ' ' + split(f.outbound.transists[1].toAirport,1)}}
                                                    <br> {{'Flight #: ' + f.outbound.transists[1].flightNO + ' | aircraft type: ' + f.outbound.transists[1].aircraftType
                                        + ' | operated by: '+ f.outbound.transists[1].airline }}

                                                    <br>

                                                    <br> {{'Adult : ' + f.outbound.transists[1].seatClass + ' class' + ' | fare N ' + '|
                                        '+f.outbound.transists[0].remainingSeats+' seats remaining'}}

                                                    <br><br>

                                                    <div class="col-sm-8">
                                                        <div align="center">
                                                            <button class="btn btn-primary" ng-init="clicked = false" ng-click="clicked = true">Select</button>
                                                        </div>
                                                    </div>
                                                    <br><br><br>
                                                    <div class="col-sm-8">
                                                        <div class="panel panel-default" ng-show="clicked" 
                                                             ng-init="accidentInsurancePrice = 0; luggageInsurancePrice = 0; totalInsurance = 0;">
                                                            <div class="panel-body">
                                                                <p>ราคาประกันภัย</p>
                                                                <input type="checkbox" ng-click="accidentInsurancePrice = accidentInsurancePrice + 1; totalInsurance = totalPrice(accidentInsurancePrice, totalInsurance, 100); clicked2 = true">
                                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประกันอุบัติเหตุ&nbsp; $ &nbsp; 100 </span><br>
                                                                <input type="checkbox" ng-click="luggageInsurancePrice = luggageInsurancePrice + 1; totalInsurance = totalPrice(luggageInsurancePrice, totalInsurance, 20); clicked2 = true">
                                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประกันกระเป๋า&nbsp;&nbsp;&nbsp; $ &nbsp;&nbsp; 20</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="panel panel-default" ng-show="clicked"
                                                             ng-init="notification = 0; sms = 0; totalService = 0">

                                                            <div class="panel-body">

                                                                <p>ราคา Service</p>
                                                                <input type="checkbox" ng-click="notification = notification + 1; totalService = totalPrice(notification, totalService, 5); clicked2 = true">
                                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แจ้งเตือนเที่ยวบินเลื่อน&nbsp;&nbsp; $ &nbsp; 5 </span><br>
                                                                <input type="checkbox" ng-click="sms = sms + 1; totalService = totalPrice(sms, totalService, 10); clicked2 = true">
                                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แจ้งเตือน SMS ก่อนเดินทาง &nbsp; $ &nbsp; 10</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div align="center">
                                                            <button ng-show="clicked" class="btn btn-primary" ng-click="createJSON(f.outbound.price, totalInsurance, totalService); clicked3 = true">OK</button>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-sm-3" ng-show="clicked2">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <h3 align="center">PRICE</h3><br>
                                                            <p>ราคา Flight&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f.outbound.price + '&#8356;'}}</p>
                                                            <p>ราคาประกันภัย&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalInsurance}}</p>
                                                            <p>ราคา Service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalService}}</p>
                                                            <p ng-show="clicked3">ภาษีมูลค่าเพิ่ม(%)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalFlight.vat}} </p>
                                                            <p ng-show="clicked3">รวมเป็นเงิน(บาท)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{totalFlight.totalofFlight}}</p>
                                                            <br>
                                                            <div align="center">
                                                                <button class="btn btn-primary" ng-init="clicked = false" ng-click="clicked = true">Confirm</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class='panel-heading'></div>

                                    </div>
                                </div>
                            </div>
                            <br><br>

                        </div>

                        <center>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </center>

                    </div>


                    </body>

                    </html>